body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #0c336b;
  color: #ffffff;
}

header {
  background-color: black;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #0E2780;
}

section.Hombre,
section.Mujer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  background-color: #0D0D0D;
}

.hombre,
.mujer {
  background-color: #011640;;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(210, 204, 204, 0.199);
  padding: 20px;
  text-align: center;
  width: 220px;
  transition: transform 0.3s ease;
}

.hombre:hover,
.mujer:hover {
  transform: translateY(-5px);
}

.hombre img,
.mujer img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.8;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hombre img:hover,
.mujer img:hover {
  transform: scale(1.1);
  opacity: 1;
}

ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
}

ul li {
  margin: 4px 0;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px;
}

@media (max-width: 600px) {
  section.Hombre,
  section.Mujer {
    flex-direction: column;
    align-items: center;
  }
}