body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EBEFF2;
    color: white;
    margin: 0;
    padding: 0;

}

header{
    background-color: black;
    text-align: left;
    padding:  15px 10px;
    border-radius: 0px ;
    

}

header ul li a{
    padding: 20px;
    justify-content: center;
    text-decoration: none;
    color: white;
    
   
}
header ul {

    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    

}
.hombre img{
text-align: center;
border-radius: 15px;
   
}

main {
    display: flex;
    align-content: center;
}
main section .Hombre{
    display: flex;
}
   
main section .Mujer{
 display: flex;
}







 



 
      



    
#1A1D26
#9CA0A6
#0E3659
#132B40
#EBEFF2








